@font-face {
	font-family: "FreeSans";
	/*src: url("FreeSans.woff") format("woff");*/
	src: url("FreeSans.woff") format("woff");
}

:root {
	--sideMarginsNav: 80px;
	--sideMargins: 80px;
	--navBarHeight: 132px;
	--heightMod: -200px;
}

* {
	margin: 0px;
	padding: 0px;
}

svg:hover {
	cursor: default;
}

section {
	height: 100vh;
	width: 100vw;
	position: relative;
}

section h1 {
	color: #fff;
	color: rgba(255, 255, 255, 0.1);
	float: right;
}

html {
	font-family: "FreeSans";
	overflow: auto;
	background-color: #0D0E10;
}

body {
	overflow: hidden;
}

#loading-wrap {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	background-color: #0D0E10;
}

.image-preview-container {
	background-color: rgba(0, 0, 0, 0.85);
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 5000;
	display: none;
}

.image-escape {
	height: 30px;
	position: absolute;
	top: 41px;
	right: 41px;
	border-radius: 50px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.1);
}

.image-escape:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}

.image-preview {
	height: 44vw;
	max-height: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 7000;
	border-radius: 0.5vw;
}

.clickable-img {
	margin-top: -30%;
}

.clickable-img:hover {
	cursor: pointer;
}

.navbar {
	/* background: linear-gradient(180deg, rgba(13, 14, 16, 0.75) 0%, rgba(13, 14, 16, 0) 90%); */
	/* background-color: rgba(13, 14, 16, 0.2); */
	height: var(--navBarHeight);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	mix-blend-mode: difference;
}

.navbar-logo {
	height: 48px;
	vertical-align: middle;
	position: relative;
	margin-left: -4px;
	left: var(--sideMarginsNav);
}

span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.navbar-items {
	height: var(--navBarHeight);
	display: inline;
	position: absolute;
	top: 20px;
	right: var(--sideMarginsNav);
}

/* .navbar-item {
    margin-left: 10vw;
    padding: 15px 0px;
    height: 14px;
} */

.navbar-item {
	font-family: "FreeSans";
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	margin-left: 12vw;
	letter-spacing: -0.5px;
	position: relative;
	top: -19px;
	padding: 13px 0px;
	border-bottom: 0px solid #fff;
	outline: none;
}

.navbar-item-selected {
	color: #F80055;
	border-bottom: 4px solid #F80055;
}

.navbar-item:nth-child(4) {
	padding-right: 0px !important;
}

.navbar-item:hover {
	cursor: pointer;
	opacity: 1;
	color: #F80055;
	border-bottom: 4px solid #F80055;
}

#navbar-uiux {
	height: 16px;
	position: relative;
	top: 0px;
}

.page-001 {
	height: 100%;
	position: absolute;
	left: -4px;
	right: 0px;
}

.number-001 {
	height: 22vw;
	position: absolute;
	top: 50%;
	margin-right: -50%;
	opacity: 1;
	transform: translate(0%, -50%);
}

.creatingvisual {
	width: 45vw;
	position: absolute;
	top: 50%;
	right: calc(var(--sideMargins) + 20px);
	opacity: 1;
	transform: translate(0%, -50%);
}

.portfolio-arrow-container {
	width: 45vw;
	position: absolute;
	right: 96px;
	bottom: 0px;
}

.portfolio-arrow {
	height: 150px;
	opacity: 1;
	position: relative;
	top: 40px;
	margin-left: 50%;
	right: 20px;
	transform: translate(0%, -50%);
}

.scrollbar-track-y {
	background-color: #0D0E10;
}

.scrollbar-thumb-y {
	background-color: rgba(255, 255, 255, 0.1);
}

.casestudyssec {
	position: absolute;
	left: var(--sideMargins);
	width: 34vw;
}

.thegoal {
	position: absolute;
	right: calc(var(--sideMargins) - 10px);
	width: 28vw;
}

.contentfirst {
	position: absolute;
	left: var(--sideMargins);
	width: 35vw;
}

.designperception {
	position: absolute;
	right: var(--sideMargins);
	margin-right: 100px;
	width: 34vw;
}

.craigslist-container {
	position: absolute;
	right: var(--sideMargins);
	top: 10vh;
	height: 24vw;
	width: 56vw;
}

.craigslist-home {
	position: absolute;
	right: var(--sideMargins);
	border-radius: 0.5vw;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
	opacity: 1;
	width: 56vw;
}

.craigslist-searchresults {
	position: absolute;
	left: var(--sideMargins);
	border-radius: 0.5vw;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
	opacity: 1;
	z-index: 1000;
	width: 56vw;
}

.craigslist-productpage {
	position: absolute;
	right: var(--sideMargins);
	border-radius: 0.5vw;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
	opacity: 1;
	z-index: 1000;
	width: 56vw;
}

.craigslist-chat {
	position: absolute;
	left: calc(var(--sideMargins) + 20px);
	border-radius: 0.5vw;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
	width: 40vw;
	opacity: 1;
}

.hyperbot-logo {
	position: absolute;
	right: 0px;
	margin-top: -4.5vw;
	margin-right: -4.5vw;
	width: 9vw;
	z-index: 1000;
	border-radius: 100%;
	box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
	display: none;
}

.section2 {
	background-color: salmon;
}

.hyperbot-app {
	position: absolute;
	left: var(--sideMargins);
	width: 52vw;
	border-radius: 0.5vw;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-text {
	position: absolute;
	margin-top: -15px;
	right: calc(var(--sideMargins) + 50px);
	width: 25vw;
	z-index: 10000;
}

.hyperbot-login {
	position: absolute;
	right: var(--sideMargins);
	border-radius: 0.5vw;
	height: 34vw;
	z-index: 1000;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-footer {
	position: absolute;
	left: var(--sideMargins);
	width: 44vw;
	margin-bottom: -100px;
	border-radius: 0.5vw;
	box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-site {	
	position: absolute;
	border-radius: 0.5vw;
	width: 56vw;
	min-width: 900px;
	box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-text {
	width: 22vw;
	height: 100%;
}

.waveac-logo {
	position: absolute;
	right: 0px;
	margin-top: -4.5vw;
	margin-right: -4.5vw;
	width: 9vw;
	z-index: 1000;
	border-radius: 100%;
	box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
	display: none;
}

.waveac-track {
	width: 59vw;
	border-radius: 0.5vw;
}

.waveac-stream,
.waveac-profile {
	border-radius: 0.5vw;
	position: absolute;
	width: 64vw;
	box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-stream {
	left: var(--sideMargins);
}

.waveac-trackzoom {
	position: absolute;
	right: var(--sideMargins);
	width: 31vw;
	z-index: 1000;
	border-radius: 0.5vw;
	box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-graphs {
	position: absolute;
	left: calc(var(--sideMargins) + 100px);
	z-index: 500;
	width: 22vw;
	border-radius: 0.5vw;
	box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-profile {
	right: calc(var(--sideMargins) + 100px);
	z-index: 5000;
}

.heightModFirst {
	height: 100vh;
	display: flex;
	align-items: center;
}

.heightMod {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -250px;
}

.mobile {
	width: 100vw;
	display: none;
}

.mobile-img {
	margin-top: 50px;
	width: 100vw;
}

@media only screen and (max-width: 1700px) {

}

@media only screen and (max-width: 1550px) {

}

@media only screen and (max-width: 1300px) {
	.casestudyssec {
		width: 31vw;
	}

	.thegoal {
		width: 28vw;
	}
	
	.contentfirst {
		width: 33vw;
	}
	
	.designperception {
		margin-right: 30px;
		width: 35vw;
	}

	.hyperbot-text {
		margin-top: -15px;
		right: calc(var(--sideMargins) + 10px);
		width: 25vw;
	}

	.waveac-text {
		width: 22vw;
		margin-right: 34px;
	}

	.waveac-trackzoom {
		width: 26.5vw;
	}

	.waveac-graphs {
		left: calc(var(--sideMargins) + 0px);
		margin-top: -220px;
		z-index: 5500;
		width: 26vw;
		border-radius: 0.5vw;
		box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
	}

	.waveac-stream,
	.waveac-profile {
		border-radius: 0.5vw;
		position: absolute;
		width: 64vw;
		box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
		right: var(--sideMargins);
	}
}

@media only screen and (max-width: 1150px) {
	.navbar-item {
		margin-left: 6vw;
	}
	

	.craigslist-home {
		right: var(--sideMargins);
		width: 55vw;
	}
	
	.craigslist-searchresults {
		left: var(--sideMargins);
		width: 52vw;
	}
	
	.craigslist-productpage {
		right: var(--sideMargins);
		width: 54vw;
	}
	
	.craigslist-chat {
		left: calc(var(--sideMargins) + 20px);
		width: 38vw;
	}
}

@media only screen and (max-width: 900px) {
	.navbar-logo {
		height: 48px;
		position: absolute;
		top: 50%;
		left: calc(50% + 9px);
		transform: translate(-50%, -50%);
	}

	.number-001 {
		display: none;
	}

	.portfolio-arrow-container {
		width: 100vw;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}

	.portfolio-arrow {
		height: 130px;
	}

	.navbar-item {
		display: none;
	}

	.creatingvisual {
		width: 78vw;
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	.mobile {
		display: block;
	}

	#mobileHideSection {
		display: none;
	}
}

/* HEIGHT MEDIA QUERIES */
/* @media only screen and (max-height: 950px) {
	.heightMod {
		margin-top: -180px;
	}
}

@media only screen and (max-height: 820px) {
	.heightMod {
		margin-top: -100px;
	}
}

@media only screen and (max-height: 700px) {
	.heightMod {
		margin-top: -50px;
	}
} */