@font-face {
    font-family: "FreeSans";
    src: url("FreeSans.woff") format("woff");
}

:root {
    --sideMarginsNav: 80px;
    --sideMargins: 80px;
    --navBarHeight: 132px;
}

* {
    margin: 0px;
    padding: 0px;
}

svg:hover {
    cursor: default;
}

section {
    height: 100vh;
    width: 100vw;
	position: relative;
}

section h1 {
	color: #fff;
	color: rgba(255, 255, 255, 0.1);
    float: right;
}

html {
    font-family: "FreeSans";
    overflow: auto;
    background-color: #0D0E10;
}

body {
    overflow: hidden;
}

.image-preview-container {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5000;
    display: none;
}

.image-escape {
    height: 30px;
    position: absolute;
    top: 41px;
    right: 41px;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.image-escape:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.image-preview {
    height: 44vw;
    max-height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7000;
    border-radius: 0.5vw;
}

.clickable-img:hover {
    cursor: pointer;
}

.navbar {
    /* background: linear-gradient(180deg, rgba(13, 14, 16, 0.75) 0%, rgba(13, 14, 16, 0) 90%); */
    /* background-color: rgba(13, 14, 16, 0.2); */
    height: var(--navBarHeight);
    position: fixed;
    top: 0px;
    left: 0px;
	right: 0px;
    z-index: 1000;
    mix-blend-mode: difference;
}

.navbar-logo {
    height: 48px;
    vertical-align: middle;
    position: relative;
    margin-left: -4px;
    left: var(--sideMarginsNav);
}

span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.navbar-items {
    height: var(--navBarHeight);
    display: inline;
    position: absolute;
    top: 20px;
    right: var(--sideMarginsNav);
}

/* .navbar-item {
    margin-left: 10vw;
    padding: 15px 0px;
    height: 14px;
} */

.navbar-item {
    font-family: "FreeSans";
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin-left: 12vw;
    position: relative;
    top: -18px;
    padding: 10px 0px;
    border-bottom: 0px solid #fff;
}

.navbar-item:nth-child(4) {
    padding-right: 0px !important;
}

.navbar-item:hover {
    cursor: pointer;
    opacity: 1;
    color: #F80055;
    border-bottom: 3px solid #F80055;
}

#navbar-uiux {
    height: 16px;
    position: relative;
    top: 0px;
}

.page-001 {
    height: 100%;
    position: absolute;
    left: -4px;
    right: 0px;
}

.number-001 {
    height: 22vw;
    position: absolute;
    top: 50%;
    margin-right: -50%;
    opacity: 1;
    transform: translate(0%, -50%);
}

.creatingvisual {
    width: 45vw;
    position: absolute;
    top: 50%;
    right: 106px;
    margin-left: -50%;
    opacity: 1;
    transform: translate(0%, -50%);
}

.portfolio-arrow-container {
    width: 45vw;
    position: absolute;
    right: 96px;
    bottom: 0px;
}

.portfolio-arrow {
    height: 150px;
    opacity: 1;
    position: relative;
    top: 40px;
    margin-left: 50%;
    right: 20px;
    transform: translate(0%, -50%);
}

.scrollbar-track-y {
    background-color: #0D0E10;
}

.scrollbar-thumb-y {
    background-color: rgba(255, 255, 255, 0.1);
}

.casestudyssec {
    position: absolute;
    top: 186px;
    left: var(--sideMargins);
    width: 22vw;
}

.facebook-container {
    position: absolute;
    right: var(--sideMargins);
    top: 260px;
    height: 24vw;
    width: 60vw;
}

.facebook-home {
    position: absolute;
    right: 0px;
    border-radius: 0.5vw;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
    width: 100%;
    opacity: 1;
}

.facebook-phone {
    position: absolute;
    bottom: -20px;
    left: -7vw;
    width: 14vw;
    border-radius: 0.5vw;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    opacity: 1;
}

.facebook-container-2 {
    margin-top: 6vw;
}

.facebook-profile {
    position: absolute;
    left: var(--sideMargins);
    width: 60vw;
    border-radius: 0.5vw;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
    opacity: 1;
    z-index: 1000;
}

.facebook-contacts {
    width: 36vw;
    position: absolute;
    right: var(--sideMargins);
    margin-top: 14px;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-container {
    position: absolute;
    left: var(--sideMargins);
    height: 10px;
    top: -50px;
    width: 51vw;
}

.hyperbot-logo {
    position: absolute;
    right: 0px;
    margin-top: -4.5vw;
    margin-right: -4.5vw;
    width: 9vw;
    z-index: 1000;
    border-radius: 100%;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

.hyperbot-app {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 34vw;
    border-radius: 0.5vw;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-text-container {
    position: absolute;
    right: 8vw;
    width: 29vw;
    top: 40px;
    height: 34vw;
}

.hyperbot-text {
    position: relative;
    top: 50%;
    float: right;
    transform: translateY(-50%);
    right: 0vw;
    width: 84%;
    height: 100%;
}

.hyperbot-container-2 {
    position: relative;
    top: -90px;
    height: 34vw;
}

.hyperbot-login {
    position: absolute;
    right: var(--sideMargins);
    border-radius: 0.5vw;
    height: 34vw;
    z-index: 1000;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-footer {
    position: absolute;
    top: 3vw;
    left: var(--sideMargins);
    width: 44vw;
    border-radius: 0.5vw;
    box-shadow: 0px 30px 32px rgba(0, 0, 0, 0.3);
}

.hyperbot-container-3 {
    position: relative;
    top: -70px;
}

.hyperbot-site {
    border-radius: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 64vw;
    min-width: 900px;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-text-container {
    position: absolute;
    left: 6.8vw;
    width: 29vw;
    top: 180px;
    height: 33vw;
}

.waveac-text {
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.waveac-container {
    position: absolute;
    right: var(--sideMargins);
    margin-right: var(--sideMargins);
    height: 10px;
    top: 180px;
    width: 59vw;

    background-color: #000;
}

.waveac-logo {
    position: absolute;
    right: 0px;
    margin-top: -4.5vw;
    margin-right: -4.5vw;
    width: 9vw;
    z-index: 1000;
    border-radius: 100%;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
}

.waveac-track {
    width: 100%;
    border-radius: 0.5vw;
}

.waveac-container-2 {
    height: 36vw;
}

.waveac-stream, .waveac-profile {
    border-radius: 0.5vw;
    position: absolute;
    width: 64vw;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-stream {
    left: var(--sideMargins);
}

.waveac-trackzoom {
    margin: 0px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: var(--sideMargins);
    float: right;
    width: 31vw;
    z-index: 1000;
    border-radius: 0.5vw;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-container-3 {
    height: 36vw;
}

.waveac-graphs {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10.5vw;
    z-index: 1000;
    width: 22vw;
    border-radius: 0.5vw;
    box-shadow: 0px 20px 32px rgba(0, 0, 0, 0.3);
}

.waveac-profile {
    right: 120px;
}
